site_name: MyGPT
site_url: https://mygpt.stjude.org
theme:
  name: material
  palette:
    scheme: slate
    primary: cyan
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
  plugins:
    - search
nav:
  - Home: index.md
  - Installation: 
    - Instructions: installation/README.md
    - Mac installation: installation/macOS/README.md
    - Linux installation: installation/linux/README.md
    - Windows installation: installation/windows/README.md
  - Developer's Guide: development.md
  - FAQs: FAQs.md
  - Contact: contact.md